<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        <link rel="icon" type="image/png" href="https://img.icons8.com/cotton/40/000000/beefburger.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'food1/css/style.css' %}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="https://img.icons8.com/cotton/40/000000/beefburger.png" class="logo"/>
                    </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="mynav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynav">
                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {% if active_link == 'index' %}active{% endif %}" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_link == 'pizza' %}active{% endif %}" href="{% url 'food:pizza' %}">Pizza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active_link == 'burger' %}active{% endif %}" href="{% url 'food:burgers' %}">Burger</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mt-2">
                            <a href="" class="nav-link"><img class="pr-1" src="https://img.icons8.com/office/30/000000/shopping-cart.png"/><span id="cart"></span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><img class="ml-1 rounded-circle" src="https://img.icons8.com/doodle/32/000000/test-account.png"/><br>Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <div>
                {% block content %} {% endblock %}
            </div>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{% static 'food1/js/main.js' %}"></script>
    </body>
</html>